.App {
    text-align: center;
    margin-top: 100px;
  }
  
  .time {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  