body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
}

.container {
    width: 100%;
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    flex: 1;
    padding: 20px;
}

.toggle-btn {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: -250px;
        background-color: #333;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .toggle-btn {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .sidebar.active {
        left: 0;
    }
}
