body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-category {
    margin-bottom: 30px;
}

h2 {
    color: #007BFF;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-name {
    flex: 1;
    text-align: left;
}

.item-price {
    margin-left: 10px;
    color: #555;
}
