
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

canvas {
    border: 2px solid #000;
    background-color: #ADD8E6;
}
