body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.color {
  font-size: 24px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}
