body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: #007bff;
}

h1 {
  margin: 0;
  color: #007bff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
